@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("https://images.pexels.com/photos/355810/pexels-photo-355810.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-repeat: no-repeat;
  background-position: center center;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  padding: 30px 0;
  min-height: 100vh;
}
.card {
  width: 90%;
  max-width: 450px;
  border-radius: 10px;
  padding: 20px;
  margin: auto;
  background-color: #2224;
  backdrop-filter: blur(5px);
  border: 2px solid #fff4;
  text-align: center;
}
.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.search input {
  border: 1px solid #fff5;
  outline: 0;
  background-color: #5565;
  color: #c0c0c0;
  padding: 10px 25px;
  height: 40px;
  border-radius: 5px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
}
.search input::placeholder {
  color: #ccc;
}
.search button {
  border: 1px solid #fff5;
  outline: 0;
  color: #ccc;
  background-color: #5565;
  border-radius: 10px;
  width: 50px;
  height: 40px;
  cursor: pointer;
}
.search button img {
  width: 20px;
}
.weather-icon {
  /* margin-top: 30px; */
  width: 130px;
}
.weather h1 {
  font-size: 80px;
  font-weight: 500;
}
.weather h2 {
  font-size: 45px;
  font-weight: 400;
  margin-top: -10px;
}
.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
}
.col {
  display: flex;
  align-items: center;
  text-align: left;
}
.col img {
  width: 40px;
  margin-right: 10px;
}
.humidity,
.wind {
  font-size: 28px;
  margin-top: -6px;
}
.main {
  font-size: 28px;
  font-weight: 600;
  text-align: left;
}
.description {
  font-size: 26px;
  text-align: left;
}
.condition {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  gap: 30px;
}
